@model VTP.Models.Student

@{
    ViewData["Title"] = "Изменить " + Model.Name;
}
<h2>@Model.Name</h2>
<form onsubmit="Save_Student_Click(@Model.Id);">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <div id="student">
        <div class="input-student ">
            <label>Ф.И.О студента</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="Name" value="@Model.Name"/>
        </div>

        <div class="input-student ">
            <label>Группа</label>
            <input required type="text" class="form-control" placeholder="" name="Groupe" value="@Model.Group"/>
        </div>

        <div class="input-student ">
            <label>Форма обучения</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="FormOfStudy" value="@Model.FormOfStudy"/>
        </div>

        <div class="input-student ">
            <label>Статус стипендии</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="ScholarshipStatus" value="@Model.ScholarshipStatus" />
        </div>

        <div class="input-student ">
            <label>Семейный статус</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="FamilyStatus" value="@Model.FamilyStatus"/>
        </div>

        <div class="input-student ">
            <label>Призывной статус</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="MilitaryStatus" value="@Model.MilitaryStatus"/>
        </div>

        <div class="input-student ">
            <label>Школа</label>
            <input required type="text" class="form-control" placeholder="" name="School" value="@Model.School"/>
        </div>

        <div class="input-student ">
            <label>Ф.И.О отца</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="FatherName" value="@Model.FatherName"/>
        </div>

        <div class="input-student ">
            <label>Ф.И.О матери</label>
            <input required type="text" pattern="^[a-zA-Z\s]*$" class="form-control" placeholder="" name="MotherName" value="@Model.MotherName"/>
        </div>

        <div class="input-student ">
            <label>Телефонный номер</label>
            <input type="tel" class="form-control" placeholder="8-777-877-4455" name="TelNumber" pattern="[0-9]-[0-9]{3}-[0-9]{3}-[0-9]{2}[0-9]{2}" value="@Model.TelNumber" />
        </div>

        <div class="input-student ">
            <p>Дата рождения</p>
            <input required type="date" name="BornDate" class="form-control" value="@Model.BornDate.ToString("yyyy-MM-dd")" />
        </div>

        <div class="input-student ">
            <p>Дата поступления</p>
            <input required type="date" name="EntryDate" class="form-control" value="@Model.EntryDate.ToString("yyyy-MM-dd")" />
        </div>
        <div class="input-student ">
            <p>Дата выпуска</p>
            <input type="date" name="GraduationDate" class="form-control" value="@Model.GraduationDate.ToString("yyyy-MM-dd")" />
        </div>
    </div>
</form>
<script src="~/js/DBOfStudents.js" asp-append-version="true"></script>